# Copiar como .env y ajustar valores
PORT=3000
DB_HOST=mysql
DB_PORT=3306
DB_USER=app_user
DB_PASSWORD=cambia_esto_por_password_seguro
DB_NAME=proyecto_db
MYSQL_ROOT_PASSWORD=cambia_esto_por_root_password
